.front-page{
	height: calc(100vh - 64px);
	margin: 0;
}

.full-screen{
	min-height: calc(100vh - 64px);
}
.fp-login{
	height: 100%;
}
.fp-img{
	width: 100%;
	height: 100%;
	background-image: url('../img/fp-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	position: relative;
}
.front-page .card{
	height: 98%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.58);
}
.front-page .card button{
	margin: 3%;
	width: 100% !important;
}
.main-color, .picker__date-display , .picker__date-display{
	background-color: #ffcc00 !important;
}
nav .brand-logo img{
	height: 64px;
	width: 64px;
}
.connection-info{
	display: table;
}
.connection-info .connection-stop{
	display: table-row;
}
.connection-info .connection-stop div {
	display: table-cell;
}
.reservation-info{
	display: table;
}
.reservation-info .reservation-show{
	display: table-cell;
}
.reservation-info .reservation-show div {
	display table;
}
.error-messages{
	text-align: center;
	background-color: rgba(255, 0, 0, 0.2);
	border: 2px solid red;
	padding: 2% 0 !important;
	color: red;

}
.admin-menu{
	padding: 5%;
}
.admin-menu button{
	margin: 1%;
	font-size: 80%;
}

table.center td,td,th,tr{
	text-align: center;
}


#regional-stations-list tbody tr:hover{
	background-color: rgba(255, 204, 0, 0.3);
	/*border: 2px solid #ffcc00;*/
}

#reservations-list tbody tr:hover{
	background-color: rgba(255, 204, 0, 0.3);
	/*border: 2px solid #ffcc00;*/
}



.front-page .card.loginform{
	background-color: rgba(255, 255, 255, 0.9);
}

/* label focus color */
  .input-field input:focus + label , .material-icons.prefix.active{
	color: #ffcc00 !important;
}
/* label underline focus color */
  .input-field input:focus {
	border-bottom: 2px solid #ffcc00 !important;
	box-shadow: 0 2px 0 0 #000;
  }

  .btn, .btn:visited{
    background-color: #584125;
  }

  .btn:hover {
    background-color: #ffcc00;
  }
  .btn:active{
    background-color: #ffcc00;
  }
  .btn-floating, .btn-floating:visited{
	  background-color: #584125;
  }
  .btn-floating:hover {
	background-color: #ffcc00;
  }
  .btn-floating:active{
	background-color: #ffcc00;
  }
  #div-table{
	  display: table !important;
	  margin: 0 auto;
  }
  #div-table .table-row{
	  display: table-row !important;
  }
  #div-table .table-row:hover{
	  background-color: rgba(255, 204, 0, 0.3);
  }
  #div-table .table-cell{
	  display: table-cell !important;
  }
  #div-table .table-cell input{
	text-align: center;
  }
  #div-table .table-cell .select-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
  }



  .autocomplete-content {
	  position: absolute !important;
	}
	.reservation-success{
		color: green;
	}





/*full screen video*/
.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.fullscreen-bg__video {
	position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
	    transform: translateX(-50%) translateY(-50%);
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

nav{
	position: relative;
	z-index: 999999;
}
.error{
	color: red !important;
	font-weight: bold !mportant;
}
.success{
	color: green !important;
	font-weight: bold !mportant;
}


  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
  flex: 1 0 auto;
}

#admin-dropdown li a{
	font-size: 80%;
}

.totalbikes i {
	vertical-align: bottom !important;
}
#Bus-driver-reservations .material-icons.prefix {
	vertical-align: bottom !important;
}

#Bus-driver-reservations #div-table .table-cell{
	text-align: left;
}
