.front-page{
	height: calc(100vh - 64px);
	margin: 0;
}

.full-screen{
	min-height: calc(100vh - 64px);
}
.fp-login{
	height: 100%;
}
.fp-img{
	width: 100%;
	height: 100%;
	background-image: url('../img/fp-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	position: relative;
}
.front-page .card{
	height: 98%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.58);
}
.front-page .card button{
	margin: 3%;
	width: 100% !important;
}
.main-color{
	background-color: #ffcc00 !important;
}
nav .brand-logo img{
	height: 64px;
	width: 64px;
}
.connection-info{
	display: table;
}
.connection-info .connection-stop{
	display: table-row;
}
.connection-info .connection-stop div {
	display: table-cell;
}
.error-messages{
	text-align: center;
	background-color: rgba(255, 0, 0, 0.2);
	border: 2px solid red;
	padding: 2% 0 !important;
	color: red;

}
.admin-menu{
	padding: 5%;
}

table.center td,td,th,tr{
	text-align: center;
}

#regional-stations-list tbody tr:hover{
	background-color: rgba(255, 204, 0, 0.3);
	border: 2px solid #ffcc00;
}
